exp_name: "deeponet_fsi"
gpu: 0
seed: 0
results_path: "./results/"

# data
dataset_name: "fsi"
dataset_root: "/wutailin/real_benchmark/"
num_workers: 12
normalizer: "gaussian" # none, gaussian, range

# data parameters for training
mask_prob: 0.5
noise_scale: 0.1 # only applicable for numerical data


# model
model_name: "deeponet"
checkpoint_path: ./results/deeponet/deeponet_fsi_numerical_False/2025-08-28_04-21-47/model_3100.pth
p : 64
dropout_rate: 0.1



# training
is_use_tb: True
scheduler: cosine # step, cosine
step_size: 1000 # only applicable for step scheduler
num_update: 5000
train_batch_size: 64
test_batch_size: 64
lr: 0.001
clip_grad_norm: 0.

# evaluation
N_autoregressive: 1
N_plot: 1